@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

@layer base {
    h1 {
        @apply text-3xl sm:text-4xl md:text-5xl font-extrabold !important;
    }
    h2 {
        @apply text-2xl sm:text-3xl md:text-4xl font-bold !important;
    }
    p {
        @apply text-base sm:text-lg leading-relaxed !important;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}